﻿@model BookStore.Mapper.sitecore.templates.Book.Book_Genre_Detail
@using Glass.Mapper.Sc.Web.Mvc
@using Sitecore.Links

@{
    Layout = null;
    ViewBag.Title = "Index";
}


<div class="wrapper row3">
    <main class="hoc container clear">
        <div class="sidebar one_quarter first">
            <!-- ################################################################################################ -->

            <nav class="sdb_holder">

                <ul>
                    <b>Related Genre</b>
                    @foreach (var genres in Model.Related_Genres)
                    {
                        <li><a href="@genres.Url">@genres.Title</a></li>
                    }
                </ul>
            </nav>


        </div>
        <div class="content three_quarter">

            <div id="gallery">

                <header class="heading">@Html.Glass().Editable(Model, x => x.Title)</header>
                <p>@Html.Glass().Editable(Model, x => x.About)</p>

                <ul class="nospace elements">

                    @foreach (var book in Model.book_Detail)
                    {
                        if (book.serialid == 1 || book.serialid % 3 == 1)
                        {

                            <li class="one_third first ">
                                <article>
                                    <figure>
                                        @Html.Glass().Editable(book, x => x.Bookimage, new { alt = book.Bookimage.Alt })

                                        <figcaption><a href="@LinkManager.GetItemUrl(book.bookitem)">@book.Title</a></figcaption>
                                    </figure>
                                    <div class="txtwrap">
                                        <h6 class="heading">@Html.Glass().Editable(book, x => x.Title)</h6>

                                        @Html.Glass().Editable(book, x => x.About)

                                    </div>
                                </article>
                            </li>

                        }
                        else
                        {

                            <li class="one_third ">
                                <article>
                                    <figure>
                                        @Html.Glass().Editable(book, x => x.Bookimage, new { alt = book.Bookimage.Alt })
                                        <figcaption><a href="@book.Url">@book.Title</a></figcaption>
                                    </figure>
                                    <div class="txtwrap">
                                        <h6 class="heading">@Html.Glass().Editable(@book, x => x.Title)</h6>
                                        @*@Html.Raw(book.About)*@
                                        @Html.Glass().Editable(book, x => x.About)

                                    </div>
                                </article>
                            </li>
                        }

                    }
                </ul>


            </div>

        </div>
        <!-- ################################################################################################ -->
        <!-- / main body -->
        <div class="clear"></div>
    </main>
</div>





