﻿@model BookStore.Mapper.sitecore.templates.Book.Home
@using Glass.Mapper.Sc.Web.Mvc

@{
    Layout = null;
    ViewBag.Title = "Index";

}


<div class="wrapper bgded overlay" style=" background-image: url('@Model.BackgroundImage.Src');background-size:cover; ">
    <div id="pageintro" class="hoc clear">
        
        <article class="introtxt">
            <h2 class="heading">@Html.Glass().Editable(Model, x => x.About_Heading)</h2>
            @Html.Glass().Editable(Model, x => x.AboutApplication)
           
        </article>

    </div>
</div>

<div class="wrapper row4">
    <div class="hoc container clear">

        <ul class="nospace elements">
            <li class="one_third first">
                @Html.Sitecore().Placeholder("feature_left")

            </li>
            <li class="one_third">

                @Html.Sitecore().Placeholder("feature_middle")

            </li>
            <li class="one_third">

                @Html.Sitecore().Placeholder("feature_right")

            </li>
        </ul>

        <div class="clear"></div>
    </div>
</div>



