﻿@using Glass.Mapper.Sc.Web.Mvc
@{
    Layout = null;
    ViewBag.Title = "Footer";
}


    <div class="wrapper row4">
        <footer id="footer" class="hoc clear">

            <div class="one_third first">
                <h6 class="title">@Html.Sitecore().Field("Title")</h6>
                <ul class="nospace linklist contact">
                    <li>
                        <i class="fa fa-map-marker"></i>
                        <address>
                            @Html.Sitecore().Field("Address")
                        </address>
                    </li>
                    <li>
                        <i class="fa fa-phone"></i>  @Html.Sitecore().Field("phone no")

                    </li>

                    <li><i class="fa fa-envelope-o"></i>  @Html.Sitecore().Field("email address")</li>
                </ul>
            </div>

            <div class="one_third">
             <br />
            </div>
            <div class="one_third">
                @Html.Sitecore().Field("Logo")
            </div>
        </footer>
    </div>

    <div class="wrapper row5">
        <div id="copyright" class="hoc clear">
        
            <p class="fl_left">Copyright &copy; 2021 - All Rights Reserved - @Html.Sitecore().Field("Title")</p>
           
    
        </div>
    </div>

    <a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>

