﻿@model BookStore.Mapper.sitecore.templates.Global.Header
@using Glass.Mapper.Sc.Web.Mvc
@using Sitecore.Links
@{
    Layout = null;
    ViewBag.Title = "Header";
}

<div class="wrapper row0">
    <div id="topbar" class="hoc clear">

        <div class="fl_left">
            <ul class="nospace inline pushright">
                <li><i class="fa fa-phone"></i>@Html.Glass().Editable(Model, x => x.Phone_No)</li>
                <li><i class="fa fa-envelope-o"></i>@Html.Glass().Editable(Model, x => x.Email)</li>
            </ul>
        </div>
        <div class="fl_right">
            <ul class="faico clear">
                <li><a class="faicon-facebook" href=@Model.Facebook_Link.Url target="@Model.Facebook_Link.Target"><i class="fa fa-facebook"></i></a></li>
                <li><a class="faicon-linkedin" href=@Model.Linkedln_Link.Url target="@Model.Linkedln_Link.Target"><i class="fa fa-linkedin"></i></a></li>
                <li><a class="faicon-google-plus" href=@Model.Google_Link.Url target="@Model.Google_Link.Target"><i class="fa fa-google-plus"></i></a></li>

            </ul>
        </div>

    </div>
</div>

<div class="wrapper row1">
    <header id="header" class="hoc clear">

        <div id="logo" class="fl_left">
            <h1><a href="@Model.Homepagelink.Url">@Html.Glass().Editable(Model, x => x.Title)</a></h1>
        </div>
        <div id="quickinfo" class="fl_right">
            <ul class="nospace inline">
                <li><br>
                    @Html.Glass().Editable(Model, x => x.Phone_No)
                </li>

            </ul>
        </div>
        <!-- ################################################################################################ -->
    </header>
</div>

<div class="wrapper row2">
    <nav id="mainav" class="hoc clear">
        <!-- ################################################################################################ -->
        <ul class="clear">

            <li><a href="@Model.Homepagelink.Url">@Model.Homepagelink.Text</a></li>
            @foreach (var item in Model.Genres)
            {
                <li><a href="@item.Url">@item.Title</a></li>
            }
           
        </ul>
        <!-- ################################################################################################ -->
    </nav>
</div>


