﻿@model BookStore.Mapper.sitecore.templates.Book.Book_Detail
@using Glass.Mapper.Sc.Web.Mvc
@using Sitecore.Links
@{
    Layout = null;
}
<article>
    <figure>
        @Html.Glass().Editable(Model, x => x.Bookimage, new { alt = Model.Bookimage.Alt })
      <figcaption><a href="@LinkManager.GetItemUrl(Model.bookitem)">@Model.Title</a></figcaption>
    </figure>
    <div class="txtwrap">
        <h6 class="heading">@Html.Glass().Editable(Model, x => x.Title)</h6>
        @Html.Glass().Editable(Model, x => Model.About)
    </div>
</article>
