﻿
@{
    Layout = null;
    ViewBag.Title = "Layoutpage";
}

<!DOCTYPE html>
<!--
Template Name: Pedggie
Author: <a href="http://www.os-templates.com/">OS Templates</a>
Author URI: http://www.os-templates.com/
Licence: Free to use under our free template licence terms
Licence URI: http://www.os-templates.com/template-terms
-->
<html>
<head>
    <title>@Html.Sitecore().Field("Title")</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="https://booklocalsc.dev.local/Content/layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">
    <!-- [Header] -->
    @Html.Sitecore().Placeholder("Bookheaders")
    <!-- [Header/] -->
    @Html.Sitecore().Placeholder("main")

    


    <!--[Footer]-->
    @Html.Sitecore().Placeholder("Bookfooter")
    <!--[/Footer]-->
    <!-- JAVASCRIPTS -->
    <script src="https://booklocalsc.dev.local/Content/layout/scripts/jquery.min.js"></script>
    <script src="https://booklocalsc.dev.local/Content/layout/scripts/jquery.backtotop.js"></script>
    <script src="https://booklocalsc.dev.local/Content/layout/scripts/jquery.mobilemenu.js"></script>
    <!-- IE9 Placeholder Support -->
    <script src="https://booklocalsc.dev.local/Content/layout/scripts/jquery.placeholder.min.js"></script>
    <!-- / IE9 Placeholder Support -->
</body>
</html>