﻿@model BookStore.Mapper.sitecore.templates.Book.Book_Detail
@using Glass.Mapper.Sc.Web.Mvc
@{
    Layout = null;
}
<div class="wrapper row3">
    <main class="hoc container clear">
        <!-- main body -->
        <!-- ################################################################################################ -->
        <div class="sidebar one_quarter first">
            <!-- ################################################################################################ -->

            <nav class="sdb_holder">



                Price:  @Html.Glass().Editable(Model, x => x.Price)
                <br />
                <br />

                Ratings:@Html.Glass().Editable(Model, x => x.Star)
                <br />
                <br />

                By: @Html.Glass().Editable(Model, x => x.Author)
                <br />

                <br />
                Type: <a href="@Model.Genre.Url">@Model.Genre.Title</a>

                <br />
                <br />

                <b>Related Books</b>
               
                <ul>
               
                    @foreach (var book in Model.Related_Books)
                    {
                        <li><a href="@book.Url">@book.Title</a></li>
                    }
                </ul>
            </nav>

            
        </div>
        <!-- ################################################################################################ -->
        <!-- ################################################################################################ -->
        <div class="content three_quarter">
            <!-- ################################################################################################ -->
            <h1>@Html.Glass().Editable(Model, x => x.Title)</h1>

            @Html.Glass().Editable(Model, x => x.Bookimage, new { alt = Model.Bookimage.Alt })
            <br />
            @Html.Glass().Editable(Model, x => x.About)
        </div>
    </main>
</div>